root = true

[*.cs]
dotnet_style_qualification_for_field = true:suggestion
dotnet_diagnostic.IDE0005.severity = warning
dotnet_analyzer_diagnostic.severity = warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,readonly,async
